USE [master]
GO
/****** Object:  Database [AuditLogs]    Script Date: 8/6/2020 4:07:36 PM ******/
CREATE DATABASE [AuditLogs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AuditLogs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AuditLogs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AuditLogs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\AuditLogs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuditLogs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuditLogs]
GO
USE [AuditLogs]
GO
/****** Object:  Table [dbo].[Audits]    Script Date: 8/6/2020 4:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](max) NULL,
	[EventType] [nvarchar](max) NULL,
	[UserNameDomain] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[MachineName] [nvarchar](max) NULL,
	[DomainName] [nvarchar](max) NULL,
	[CallingMethodName] [nvarchar](max) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[OldTarget] [nvarchar](max) NULL,
	[NewTarget] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Audits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
